body {
    margin: 0;
    min-width: 630px;      /* 2x (LC full width +
                            CC padding) + RC full width */
}

#container {
    padding-left: 200px; /* LC width */
    padding-right: 190px;  /* RC full width + CC padding */
    overflow: hidden;
}

#container .column {
    position: relative;
    float: left;
    padding-bottom: 20010px; /* X + padding-bottom */
    margin-bottom: -20000px; /*X*/
}

#center {
    padding: 10px 20px;    /* CC padding */
    width: 100%;
    background-color: gainsboro;
}

#left {
    width: 180px;          /* LC width */
    padding: 0 10px;       /* LC padding */
    right: 240px;          /* LC fullwidth + CC padding */
    margin-left: -100%;
    background-color: lightskyblue;
}

#right {
    width: 130px;          /* RC width */
    padding: 0 10px;       /* RC padding */
    margin-right: -190px;  /* RC fullwidth + CC padding */
    background-color: coral;
}

#footer {
    clear: both;
    background-color: darkgray;
    position: relative;
    /*固定footer 注意给body加上padding*/
/*    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;*/
}

#header {
    background-color: darkgray;
}

/*** IE Fix ***/
* html #left {
    left: 150px;
}